In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\estep\anaconda3\lib\site-packages (2.9.7)

In [3]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\estep\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\estep\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)

In [19]:
import pandas as pd
from sqlalchemy import create_engine, text

pd.options.display.max_rows = 100
ruta="C:\\Users\\estep\\DATA SCIENCE\\PROYECTO1"
engine=create_engine('sqlite://') 
print(engine)
df = pd.read_excel('TABLA INFO CLIENTES.xlsx').to_sql('TABLA INFO CLIENTES', engine, if_exists='replace', index=False)

def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

Engine(sqlite://)

In [31]:
query_ejemplo= """
SELECT * FROM "TABLA INFO CLIENTES"
"""
t=runQuery(query_ejemplo)
t

,CLIENTE,TOTAL AVES 2000-2023,LINEA,CIUDAD,DEPARTAMENTO,PRECIO PROMEDIO 2000-2023
0,ABADIA DE CAMPO GLORIA,49500,HY LINE BROWN,GUACARI,VALLE DEL CAUCA,2150.0
1,ACEVEDO MARTINEZ LUZ PIEDAD,294800,HY LINE BROWN,TULUA,VALLE DEL CAUCA,2870.0
2,AGRICOLA COLOMBIANA S.A.,4987250,HY LINE BROWN,CALI,VALLE DEL CAUCA,3150.0
3,AGROAVICOLA SAN MARINO LTDA.,216300,HY LINE BROWN,CALI,VALLE DEL CAUCA,1750.0
4,AGROAVICOLA SUPERIOR S.A.S,39000,HY LINE BROWN,CALI,VALLE DEL CAUCA,2150.0
...,...,...,...,...,...,...
319,ZAR-HUEVO LTDA,46800,HY LINE W-36,PEREIRA,RISARALDA,2625.0
320,ZULUAGA ARIZA LUZ DARY,2000,HY LINE W-36,SANTANDER DE QUILICHAO,CAUCA,1450.0
321,ZULUAGA MONTES MAURICIO,700,HY LINE BROWN,MANZANARES,CALDAS,1450.0
322,ZULUAGA SOTO JAIRO,17888,HY LINE BROWN,MANIZALEZ,CALDAS,2625.0
323,ZULUAGA SOTO MARIO,1750,HY LINE BROWN,MANIZALES,CALDAS,1450.0

In [33]:
query1 = """SELECT CLIENTE, CIUDAD,DEPARTAMENTO
FROM "TABLA INFO CLIENTES"
WHERE LINEA != 'HY LINE BROWN'"""
g=runQuery(query1)